<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Show Page for <%= photo.title %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>User Details</h2>
      <ul>
        <li>Name: <%=user.name%></li>
        <li>UserName: <%=user.username%></li>
      </ul>
    </section>
    <section>
        <a href="/users/<%=user._id%>/edit">Edit</a>
    </section>
    <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete User</button>
        </form>
    </section>
    </main>
    </body>
    </html>